<ion-header>
  <ion-toolbar color="primary">
    <ion-grid>
      <ion-row>
        <ion-col size="2">
    
        </ion-col>
        <ion-col size="8"><ion-title>Todolist</ion-title> </ion-col>
      </ion-row>
      </ion-grid>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    

    <ion-row>
      <ion-col>

        <ion-button [routerLink]="['/todolist']" color="secondary">
          <ion-icon name="arrow-back"></ion-icon>
        </ion-button>


      </ion-col>
    </ion-row>



    <ion-row>
      <ion-col>

        <ion-item>
          <ion-label position="floating">Todolist Title</ion-label>
          <ion-input type="text" [(ngModel)]="todolist.TodolistTitle" required></ion-input>
        </ion-item>


      </ion-col>
    </ion-row>




    <ion-row>
      <ion-col>

        <ion-item>
          <ion-label position="floating">Todolist Description</ion-label>
          <ion-input type="text" [(ngModel)]="todolist.TodolistDesc" required></ion-input>
        </ion-item>


      </ion-col>
    </ion-row>




    <ion-row>
      <ion-col>

        <ion-list>

          <ion-radio-group value="unfinished" [(ngModel)]="todolist.TodolistState" >
            <ion-list-header>
              <ion-label>Todolist State</ion-label>
            </ion-list-header>
        
            <ion-item>
              <ion-label>Unfinished</ion-label>
              <ion-radio slot="start" value="unfinished"></ion-radio>
            </ion-item>
        
            <ion-item>
              <ion-label>Finished</ion-label>
              <ion-radio slot="start" value="finished"></ion-radio>
            </ion-item>
        
          </ion-radio-group>
        
        </ion-list>


      </ion-col>
    </ion-row>


    <ion-row>
      <ion-col>


        <ion-button class="ion-padding" color="primary" expand="full" (click)="addToTodolist(todolist)">
          Add to your Todolist
        </ion-button>

      </ion-col>
    </ion-row>

    </ion-grid>






</ion-content>